/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #101010;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.3;
}
.cards {
  display: flex;
  padding: 3rem;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  flex: 1 0 300px;
  max-width: 400px;
  background: white;
  overflow: hidden;
  color: black;
  border-radius: 5px;
  box-shadow: 3px 2px 14px rgba(#262631, 0.4);
  text-decoration: none;
  font-size: 1rem;
}
.card__image {
  min-height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card__content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.card__title {
  font-size: 1.35rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.card__snippet {
  margin-bottom: 0.5rem;
}
.read__more {
  margin-top: auto;
  text-transform: uppercase;
  text-decoration: underline;
}
